<div class="container-fluid" style="display: contents;">

  <form class="needs-validation" name="searchForm"  [formGroup]="searchForm"   novalidate style="display: flex; flex: 1 1 auto; overflow-y: hidden; justify-content: center;"> 

      <div class="row text-center" *ngIf="!startedGame" style="justify-content: center; align-content: center; "  >
          <fieldset class="form-group col-6" style="background-color: white;">
              <div class="row" style="border-radius: 15px;  align-items: center;">
                  <legend class="col-form-label ">Configuración del Juego</legend>
                  <label class="form-group has-float-label ">
                      <input type="text" class="form-control" formControlName="player1"  />
                      <span>Jugador 1 </span>
                      <small class="invalid-feedback">Campo obligatorio</small>
                  </label>
                  <label class="form-group has-float-label ">
                      <input type="text" class="form-control" formControlName="player2"  />
                      <span>Jugador 2 </span>
                      <small class="invalid-feedback">Campo obligatorio</small>
                  </label>

                  <label class="form-group has-float-label  col-md-6">
                      <input type="number" class="form-control" formControlName="seconds"  />
                      <span>Segundos</span>
                      <small class="invalid-feedback">Campo obligatorio</small>
                  </label>

                  <label class="form-group has-float-label col-md-6">
                      <input type="number" class="form-control" formControlName="wildcard"  />
                      <span>Comodines</span>
                      <small class="invalid-feedback">Campo obligatorio</small>
                  </label>

                  <div class="col-md-2"></div>
                  <button  class="btn btn-primary col-md-8" (click)="onStartGame()" >
                      Comenzar
                  </button>
              </div>
          </fieldset>
      </div>

 
      
      <div  formArrayName="players" style=" flex: 1 1;" *ngIf="startedGame">
          <ng-container   *ngFor="let player of players.controls; let i = index;" formGroupName="{{i}}" >

              
              <fieldset class="otherPlayer" [class.hidden]="player.get('active')!.value !== false" >
                  
                  <small>En espera:</small>
                  <h3 class="text-center " >
                      {{player.get('name')!.value}}
                  </h3>
                 
                  <label class=" timer ">
                      {{player.get('playTime')!.value | number: '1.0-0'}}
                  </label>
                  <label class="  corrects">
                      {{player.get('correctAnswers')!.value}}
                  </label>
                  <label class="  fails">
                      {{player.get('failAnswers')!.value}}
                  </label>  
                      
                  <button class="btn btn-xs  btn-primary m-0 btn-reload" (click)="onNextPlayer(i)" >
                      <i class="fas fa-sync"></i>                        
                  </button>
                  
              </fieldset>

              <div class="wildcard" [class.hidden]="player.get('active')!.value === false" formArrayName="wildcards" >
                  <div *ngFor="let item of player.get('wildcards')!.value; let w = index;" formGroupName="{{w}}">
                      <div class="item-wildcard" (click)="onWildCardChange(i, w)" [class.used]="!item">
                          <i class="far fa-smile"></i>
                      </div>
                  </div>
              </div>
              
              <div style="height: 100%;" [class.hidden]="player.get('active')!.value === false" >
              
                  <h1>Jugando:</h1>
                  <h1>{{player.get('name')!.value}}</h1>
                  <div class="" formArrayName="playerItems" >
                      
                          <div *ngFor="let item of getPlayerItems(player)!.controls; let j = index;" formGroupName="{{j}}" [class.hidden]="item.get('status')!.value !== 1">
                             
                              <label class="col-10 extrasize circle1">
                                  {{item.get('letter')!.value}}
                              </label>

                              <div class="manager-box" >
                                  <div class="row">
                                      <button class="btn btn-md  btn-primary col-12 m-0" (click)="onStartPlay(i)" *ngIf="player.get('isTimerPaused')!.value">
                                          <i class="fas fa-play"  ></i>  
                                      </button>
                                      <button class="btn btn-md  btn-outline-danger col-12 m-0" (click)="onStartPlay(i)" *ngIf="!player.get('isTimerPaused')!.value">
                                          <i class="fas fa-pause"></i>
                                      </button>
                                      <button class="btn btn-md  btn-success col-4" (click)="onAnswer(i,j)">
                                          <i class="fas fa-check"></i>
                                      </button>
                                      <button class="btn btn-md  btn-warning col-4" (click)="onNextTime(i,j)">
                                          <i class="fas fa-pause"></i>
                                      </button>
                                      <button class="btn btn-md btn-danger col-4" (click)="onFail(i,j)">
                                          <i class="fas fa-times"></i>
                                      </button>
                                  </div>
                              </div>
                              
                          
                          </div>
                     
                  </div>

                 
                      <div class=" circle-container " >
                          <ul class="circle">
                              <li class="item" (click)="onChangeAnswer(i,k)"
                                  [class.item-active]="letter.get('status')!.value === 1" 
                                  [class.item-success]="letter.get('status')!.value === 2" 
                                  [class.item-failure]="letter.get('status')!.value === 3" 
                                  [class.item-nexttime]="letter.get('status')!.value === 4"
                                  *ngFor="let letter of getPlayerItems(player)!.controls; let k = index;">
                                  {{letter.get('letter')!.value}}
                              </li>
                          </ul>
                          <ul class="scoreboard">
                              <li id="js--minus-timer" class="adjust-timer row" href="">
                                  <button class="btn btn-xs btn-outline-primary  col-3" (click)="onReduceTime(i)">
                                      <i class="fas fa-chevron-left"></i>
                                  </button>
                                  <div class="col-6"></div>
                                  <button class="btn btn-xs btn-outline-primary  col-3" (click)="onAddTime(i)">
                                      <i class="fas fa-chevron-right"></i>
                                  </button>
                              </li>
                              <li id="js--timer" class="timer" href="">{{player.get('playTime')!.value  | number: '1.0-0'}}</li>
                              <li id="js--score" class="score" href="">
                                  
                                      <div class="corrects">
                                          {{player.get('correctAnswers')!.value}} 
                                      </div>
                                      <div class="fails">
                                          {{player.get('failAnswers')!.value}} 
                                      </div>
                                  
                              </li>
                          </ul>
                      </div>
                  
              </div>
          </ng-container>
      </div>
  </form>
</div>